.horizontal-bar {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #188bdd;
}

.vertical-bar {
  width: 5px;
  height: 100vh;
  padding: 0;
  background-color: #188bdd;
  display: inline-block;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.sort-container {
  position: relative;
  margin: auto;
  height: 90vh;
  width: 90%;
}
